* {
	padding: 0;
	margin: 0;
	font-family: Industry-Thin;
	text-align: center;
	background-color: #F0C8F8;
	align-content: center;
}



form {
	padding: 50px 20px ;
	background-color: #F0C8F8;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
	background-color: #E898F8;
}

input[type='submit']{
	background-color: #ffff;
	color: #E890F8;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	font-size: 25px;
	text-justify: auto;
}


.ok {
	padding-left: auto;
	text-align: center;
	width: 15%;
	padding: 12px;
	background-color: #fff;
    color: #E898F8;

}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #fff;
	color: #E898F8;
}

@font-face {
	font-family:Industry-Bold ;
	src: url(../fonts/Industry-Blod/Industry-Bold.woff);


	font-family: Industry-Thin;
scr: url(../fonts/Industry-Thin/Industry-Thin.woff);

}

