@font-face {
    font-family: 'Industry';
    src: local('Industry Bold'), local('Industry-Bold'),
        url('Industry-Bold.woff2') format('woff2'),
        url('Industry-Bold.woff') format('woff'),
        url('Industry-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }