*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}


body{
font-family: Industry-Bhin ;
background-color: #E898F8;
text-align: center;
height: 2500px;

}

.logo{

width: 70px;
float: left;
padding: 0px;


}
.nav{

    float: right;

}
header{

background-color: #E898F8;
width: 100% ;
clear: both;
content: '';
display: table;
position: fixed;
}
.menu{

width: auto + 10;
font-size: 16.5px;
padding-left: 15px;
font-style: normal;

}
.lletresmenu{
padding-right: 150px;
}
nav ul li{


    list-style: none;
    margin-left: 25px;
    float: left;
    padding: 25px 15px;
}

nav ul li a{


    text-decoration: none;
    color: white;
    
    font-family:Industry-Thin ;
}

.submenu{

display: none;
position: absolute;
min-width: 140px;
background-color: #E898F8;
margin-top: 25px; ;
margin-right: 5px;
text-align: center;
}


.paco{
    height: 200px;
    width: 100%;
    padding: 40px 40px 40px 40px;
    background-color: antiquewhite;
}
.en{
    height: 200px;
    width: 100%;
    padding: 40px 40px 40px 40px;
    background-color: rgb(250, 215, 235);
}
.bolas{
    height: 200px;
    width: 100%;
    padding: 40px 40px 40px 40px;
    background-color: rgb(222, 2, 250);
}
.Nom:hover > ul{
display: block;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #E898F8;

}

.submenu:hover{

    background-color: white;
    color:#E898F8 ;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
   
}
@font-face {
	font-family:Industry-Bold ;
	src: url(../fonts/Industry-Blod/Industry-Bold.woff);


	font-family: Industry-Thin;
scr: url(../fonts/Industry-Thin/Industry-Thin.woff);

}




body::-webkit-scrollbar {
	width: 12px;
	background: none;
   scroll-margin-top: 10px;
   
   color: black;
   border-radius: 0.1px;
}

body::-webkit-scrollbar-thumb {
	background: #E898F0;
	border-radius: 12px;
	border-right: 2px solid #292929;
    scroll-margin-top: 10px;
} 